<div class="card bg-light" *ngIf="factura">
    <div class="card-header">{{titulo}}: {{factura.descripcion}}</div>
    <div class="card-body">
        <h4 class="card-title">
            <a routerLink="/clientes" class="btn btn-light btn-xs">&laquo; Volver</a>
        </h4>
        <form action="">

            <div class="form-group row pb-2" *ngIf="factura.cliente">
                <label for="cliente" class="col-form-label col-sm-2">Cliente</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control"
                        value="{{factura.cliente.nombre}} {{factura.cliente.apellido}}" name="cliente" disabled>
                </div>
            </div>

            <div class="form-group row pb-2">
                <label for="descripcion" class="col-form-label col-sm-2">Descripcion</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="factura.descripcion" name="descripcion"
                        required>
                </div>
            </div>

            <div class="form-group row pb-2">
                <label for="observacion" class="col-form-label col-sm-2">Observacion</label>
                <div class="col-sm-6">
                    <textarea class="form-control" [(ngModel)]="factura.observacion" name="observacion"></textarea>
                </div>
            </div>

            <div class="form-group row pb-2" class="text-info">
                <div class="col-sm-6">
                        <mat-form-field class="example-full-width">
                          <mat-label class="lab">Añadir Producto</mat-label>
                          <input class="text-info" type="text"
                                 placeholder="Add Producto"
                                 aria-label="Producto"
                                 matInput
                                 [formControl]="myControl"
                                 [matAutocomplete]="auto">
                          <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombre" (optionSelected)="productoSeleccionado($event)">
                            <mat-option *ngFor="let producto of productosFiltrados | async" [value]="producto">
                              {{producto.nombre}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                </div>
            </div>
            <div class="alert alert-info my-4" *ngIf="factura.items.length == 0">
                Agregue Productos a su Factura!
            </div>
            <table class="table table-striped table-hover table-sm" *ngIf="factura.items.length > 0">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of factura.items">
                        <td>{{item.producto.nombre}}</td>
                        <td>{{item.producto.precio}}</td>
                        <td><input type="number" value="{{item.cantidad}}" class="form-control col-auto" style="max-width: 80px;" (change)="actualizaCantidad(item.producto.id,$event)"></td>
                        <td>{{item.calcularImporte()}}</td>
                        <td><button class="btn btn-danger btn-sm" type="button" (click)="eliminarItemFactura(item.producto.id)">X</button></td>
                    </tr>

                </tbody>
            </table>
            <h5 class="float-end" *ngIf="factura.items.length > 0">
                Gran Total: <span class="badge bg-secondary">{{factura.calcularGranTotal()}}</span>
            </h5>

            <div class="form-group row pb-2">
                <div class="col-sm-6">
                    <input type="submit" value="Crear Factura" (click)="crearFactura()" class="btn btn-secondary">
                </div>
            </div>
        </form>
    </div>
</div>